<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>  
  <!-- MSTest adapter -->  
  <MSTest>
	  <AppInsightsInstrumentationKey>bogus</AppInsightsInstrumentationKey>
	  <BlobConnectionString>bogus</BlobConnectionString>
	  <BlobContainerName>bogus</BlobContainerName>
  </MSTest>   
</RunSettings> 